<div class="menu">
  <%= link_to ('<i class="fa fa-square-o"></i>').html_safe, new_task_path, class: 'btn-social' %>
  <%= link_to ('<i class="fa fa-circle-o"></i>').html_safe, new_event_path, class: 'btn-social' %>
  <%= link_to ('<i class="fa fa-minus"></i>').html_safe, new_note_path, class: 'btn-social' %>
</div>
